
.nav {
    position: sticky;
    z-index: 10;
    top: 0;
    background-color: #5e5a66;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    font-size: 22px;
    padding: 0 15px;
}

.nav ul {
    list-style: none;
    display: flex;
    justify-content: left;
    align-items: end;
    gap: 40px;
    margin-top: 10px;
}

.nav h2 {
    color: aqua;
    font-style: italic;
}

.nav li {
    text-decoration: none;
    color: white;
    font-weight: 700;
}

@media all and (max-width : 768px) {
    .nav {
        font-size: 18px;
        min-height: 0px;
    }
    .nav h2 {
        font-size: x-large;
    }
    .nav li {
        font-weight: 500;
    }
    .nav ul {
        gap: 30px;
    }
}

@media all and (max-width : 640px) {
    .nav {
        justify-content: end;
    }
    .nav h2 {
        display: none;
    }
    .account {
        display: none;
    }
}

@media all and (max-width : 575px) {
    .nav {
        font-size: 16px;
        justify-content: end;
        max-height: 40px;
    }
    .nav ul {
        margin-top: 12px;
    }
}

@media all and (max-width : 480px) {
    .nav {
        font-size: 14px;
    }
}