.new-quote-form {
    padding: 16px;
    border-radius: 10px;
    margin: 60px 10px;
    background-color: #2f2b3a;
    color: white;
}

.new-quote-form button {
    margin-top: 5px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #a688fa;
    color: black;
    font-weight: 500;
    display: block;
    margin: auto auto;
}

.new-quote-form input , .new-quote-form textarea {
    margin: 5px;
    background-color: #2f2b3a;
}

div h1 {
    text-align: center;
}

@media all and (max-width: 768px) {
    .new-quote-form {
        margin-top: 40px;
        font-size: 14px;
    }
    div h1 {
        font-size: x-large;
    }
    .new-quote-form input , .new-quote-form textarea {
        font-size: 14px;
    }
}

/* no need for 640px */

@media all and (max-width: 575px) {
    .new-quote-form {
        margin-top: 30px;
        font-size: 13px;
    }
    div h1 {
        font-size: x-large;
    }
    .new-quote-form input , .new-quote-form textarea {
        font-size: 13px;
    }
}

@media all and (max-width: 480px) {
    .new-quote-form {
        margin-top: 20px;
        font-size: 12px;
    }
    div h1 {
        font-size: larger;
    }
    .new-quote-form input , .new-quote-form textarea {
        font-size: 12px;
    }
}