

main {
  width: 50vw;
  margin: 10px auto;
}

@media all and (max-width: 768px) {
  main {
    width: 60vw;
  }
}

@media all and (max-width: 575px) {
    main {
      width: 70vw;
    }
}

@media all and (max-width: 480px) {
  main {
    width: 85vw;
  }
}


